params.bbtools_container = "registry.hub.docker.com/bryce911/bbtools"
params.references.phix = "/home/njohner/development/scripts/CIDB/phix174_ill.ref.fa.gz"
params.references.adapters = "/home/njohner/development/scripts/CIDB/adapters.fa"
params.references.masked_human = "/home/njohner/development/scripts/CIDB/hg19_main_mask_ribo_animal_allplant_allfungus.fa.gz"

