params.bbtools_container = "registry.hub.docker.com/bryce911/bbtools"
params.references.phix = "/mnt/slow_storage/users/njohner/CIDB/Analysis/DB/motus_pipeline/phix174_ill.ref.fa.gz"
params.references.adapters = "/mnt/slow_storage/users/njohner/CIDB/Analysis/DB/motus_pipeline/adapters.fa"
params.references.masked_human = "/mnt/slow_storage/users/njohner/CIDB/Analysis/DB/motus_pipeline/hg19_main_mask_ribo_animal_allplant_allfungus.fa.gz"
params.scaffold_filtering_script = "/mnt/slow_storage/users/njohner/scripts/CIDB/motus_pipeline/scaffold_filter.py"
params.count_reads = "/mnt/slow_storage/users/njohner/hos76734/home/njohner/development/scripts/CIDB/motus_pipeline/count_reads.py"
