/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: BBDUK_TRIM_ADAPTERS {
        ext.prefix = { "${meta.id}_trimmed" }
        ext.args = 'usejni=t refstats=adapter_trim.stats statscolumns=5 ktrim=r k=23 mink=11 hdist=1'
    }
    withName: BBDUK_FILTER_PHIX {
        ext.prefix = { "${meta.id}_phix_filtered" }
        ext.args = 'usejni=t k=31 hdist=1 refstats=phix.stats statscolumns=5'
    }
    withName: 'BBDUK_QUALITY_FILTERING' {
        ext.prefix = { "${meta.id}_quality_filtered" }
        ext.args = 'usejni=t minlength=45 qtrim=rl maq=20 maxns=1 stats=qc.stats statscolumns=5 trimq=14'
        cpus   = { check_max( 12    * task.attempt, 'cpus'   ) }
    }
    withName: 'BBMAP_FILTER_HOST.*' {
        ext.prefix = { "${meta.id}_host_filtered" }
        ext.args = 'usejni=t qin=33 minid=0.95 maxindel=3 bwr=0.16 bw=12 quickmatch fast minhits=2 qtrim=rl trimq=15 untrim'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/preprocessed_reads" },
            mode: params.publish_dir_mode,
            pattern: '*.fastq.gz',
            enabled: params.publish.preprocessed_reads
        ]
    }
    withName: BBMAP_INDEX_HOST {
        memory = { check_max( 30.GB * task.attempt, 'memory' ) }
        cpus   = { check_max( 12    * task.attempt, 'cpus'   ) }
    }
    withName: BBMAP_MERGE_PAIRS {
        ext.args = 'usejni=t minoverlap=16'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/preprocessed_reads" },
            mode: params.publish_dir_mode,
            pattern: '*.fastq.gz',
            enabled: params.publish.preprocessed_reads
        ]
    }
    withName: MOTUS_PROFILE {
        ext.args = '-c -k mOTU -q -p'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/motus" },
            mode: params.publish_dir_mode,
            pattern: '*.motus',
            enabled: params.publish.taxonomic_profiling
        ]
    }
    withName: SPADES {
        ext.args = '--only-assembler'
    }
    withName: FILTER_SCAFFOLDS {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly" },
            mode: params.publish_dir_mode,
            pattern: '*.scaffolds.min500.fasta',
            enabled: params.publish.assemblies
        ]
    }
    withName: ASSEMBLY_STATS {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly" },
            mode: params.publish_dir_mode,
            pattern: '*.stats',
            enabled: params.publish.assemblies
        ]
    }
    withName: PHANTA_PROFILE {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/phanta" },
            mode: params.publish_dir_mode,
            pattern: 'final_merged_outputs/*.txt',
            enabled: params.publish.taxonomic_profiling
        ]
    }
    withName: PRODIGAL {
        ext.args = '-c -q -p meta'
    }
    withName: CDHIT_CDHITEST {
        ext.args = '-c 0.95 -G 0 -aS 0.9 -g 1 -r 1 -d 0'
        ext.suffix = 'fa'
    }
    withName: SEQTK_SUBSEQ {
        publishDir = [
            path: { "${params.outdir}/gene_catalog/" },
            mode: params.publish_dir_mode,
            pattern: '*.gz',
            enabled: params.publish.gene_catalog
        ]
    }
    withName: BWA_MEM {
        ext.args = '-a'
        ext.args2 = "-F 260 -bh -e '(qlen-sclen)>45' -O BAM"
    }
    withName: FILTERSAM {
        ext.args = '-i 95'
    }
    withName: NORMALIZE_COUNTS {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/gene_counts/" },
            mode: params.publish_dir_mode,
            pattern: '*_genes_per_cell.csv',
        ]
    }
    withName: EGGNOGMAPPER {
        publishDir = [
            path: { "${params.outdir}/gene_catalog/" },
            mode: params.publish_dir_mode,
            pattern: '*.emapper.annotations',
        ]
    }
    withName: METAEUK_EASYPREDICT {
        memory = { check_max( 200.GB * task.attempt, 'memory' ) }
    }
}
